<ul class="class">
    <div>
        <a routerLink="/cars/getcardetailsdto">Arabalar</a>
    </div>
    
    <div>
        <a routerLink="colors/getallcolors" (click)="getAllColorComponent()">Renkler</a>
        <ol *ngFor="let color of colors">{{color.name}}</ol>
    </div>
    
    <div>
        <a routerLink="brands/getallbrands">Markalar</a>
        <li></li>
    </div>
    
    <div>
        <a>Müşteriler</a>
        <li></li>
    </div>

    <div>
        <a>Kira Listesi</a>
        <li></li>
    </div>    
</ul>





